<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring Boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Cliente</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<!-- Una lista con los errores -->

		<div th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
				role="alert">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<!-- Fin lista de errores -->

		<form th:action="@{/form}" th:object="${cliente}" method="POST">
			<div class="form-group row">
				<label class="col-sm-2 col-form-Label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-Label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-Label">Email</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{email}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{createAt}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear Cliente" class="btn btn-primary" />
				</div>
			</div>
			<!-- En vez de usar el hidden id para agregar, modificar usamos la anotacion SessionAttributes
			 <input type="hidden" th:field="*{id}" /> -->
		</form>
	</div>
</body>
</html>